<div class="well">
  <div class="masthead">
    <div class="slogan">Visualize your Gmail Existence</div>
    <div class="center">
      <div class="form-inline">
        <%= form_for @profile do |f| %>
          <%= f.text_field :email, :placeholder => 'Your Gmail Address' %>
          <%= f.submit "Visualize", :class => "btn btn-primary giant" %>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="soften">
  <div class="graphs center border">
      <script src="http://d3js.org/d3.v2.js"></script>
      <script>$(document).ready(function() { frontPage(); });</script>
  </div>
</div>
