<%= @profile.email %>
<div class="graphs"></div>

<style type="text/css" media="all">
  body {
    background-color: beige;
  }
  .axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  .axis text {
    font-family: sans-serif;
    font-size: 11px;
  }
</style>

<script src="http://d3js.org/d3.v2.js"></script>
<script>
  $(document).ready( drawGraphs("<%= profile_path(@profile) %>"))
</script>
