<div class="masthead lead"><%= @profile.email %></div>
<hr class="soften">
<div class="status"></div>
<div class="progress progress-info">
  <div class="bar"
       style="width: 0%;"></div>
</div>
<div class="graphs well">
	<div class="twentyFourBar"><h3>Emails by Hour</h3></div>
	<div class="subjectWordCloud"><h3>Recent Subject Words</h3></div>
	<div class="receivedWordCloud"><h3>Recent Senders of Email</h3></div>
  <!-- <div class="topRecipients"><h3>Top Recipients</h3></div> -->
	<div class="junkmail"><h3>Junk Mail</h3></div>
	<br style="clear:both;"></br>
</div>

<script src="http://d3js.org/d3.v2.js"></script>
<script src="https://raw.github.com/jasondavies/d3-cloud/master/d3.layout.cloud.js"></script>

<script>
  $(document).ready( drawGraphs("<%= profile_path(@profile) %>"))
</script>
<div class="center">
<%= button_to "Delete Profile", profile_path(@profile), :method => :delete, :class => "btn btn-danger btn-large vt-p", :confirm => "Are you sure? Profile cannot be accessed after this step" %>
</div>
