<div class="masthead lead"><%= @profile.email %></div>
<hr class="soften">
<div class="status"></div>
<div class="progress progress-info">
  <div class="bar"
       style="width: 0%;"></div>
</div>
<div class="graphs well">
	<span class="subjectWordCloud"></span>
	<span class="receivedWordCloud"></span>
</div>

<script src="http://d3js.org/d3.v2.js"></script>
<script src="https://raw.github.com/jasondavies/d3-cloud/master/d3.layout.cloud.js"></script>

<script>
  $(document).ready( drawGraphs("<%= profile_path(@profile) %>"))
</script>
<div class="center">
<%= button_to "Delete Profile", profile_path(@profile), :method => :delete, :class => "btn btn-danger btn-large vt-p", :confirm => "Are you sure? Profile cannot be recovered after this step" %>
</div>
